@media (min-width: 768px) {
    html {
   font-size:65%;
  }
  .map-title {
      font-size: 2rem;
  }
}
@media (min-width: 998px) {
    html {
   font-size:80%;
  }
}
@media (min-width: 1200px) {
    html {
   font-size:90%;
  }
  .map-title {
      font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
    html {
   font-size:100%;
  }
}
